<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DictServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="DictServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://services.aonaware.com/DictService/DictService.asmx"
                binding="basicHttpBinding" bindingConfiguration="DictServiceSoap"
                contract="DictonaryService.DictServiceSoap" name="DictServiceSoap" />
            <endpoint address="http://services.aonaware.com/DictService/DictService.asmx"
                binding="customBinding" bindingConfiguration="DictServiceSoap12"
                contract="DictonaryService.DictServiceSoap" name="DictServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>